:root {
    --main-light-color: #FFFFFF;
    --main-font-bgr-color: #2E2F42;
    --secondory-font-color: #434455;
    --secondory-footer-color: #F4F4FD;
    --secondory-font-accent-color: #4D5AE5;

}



/* посиланням добавлено значення щоб прибирати підкрєслювання */
a {
    text-decoration: none;
}


/* списку добавлено значення щоб прибирати крапки */
ul {
    list-style: none;
}

/* логотипу добавленний селекто span з класом для стилізації частини тексту в 
голубий колір */
.logo {
    color: var(--secondory-font-accent-color);
}

.link-logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: var(--main-font-bgr-color);
}

.footer-logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: var(--secondory-footer-color);
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-font-bgr-color);
}

.link-address:hover,
.link-address:focus {
    color: var(--secondory-font-accent-color);
}


.link-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondory-font-color);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-bgr-color);
}

.section-hero {
    background-color: var(--main-font-bgr-color);
}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--main-light-color);
}

.btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-light-color);
    background-color: var(--secondory-font-accent-color);
    cursor: pointer;
}

.title-advantages,
.subtitle-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text,
.text-team {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondory-font-color);
}

.title-doing,
.title-team {
    font-size: 36px;
    line-height: 1.11;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondory-footer-color);
}

.footer {
    background-color: var(--main-font-bgr-color);

}