:root {
    --main-light-color: #FFFFFF;
    --main-font-color: #434455;
    --secondory-font-color: #2E2F42;
    --secondory-footer-color: #F4F4FD;
    --secondory-font-accent-color: #4D5AE5;

}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo {
    color: var(--secondory-font-accent-color);
}

.link-logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: var(--secondory-font-color);
}

.footer-logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: var(--secondory-footer-color);
}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondory-font-color);

}

.link-address:hover,
.link-address:focus {
    color: var(--secondory-font-accent-color);
}

.link-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-font-color)
}

.btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondory-font-accent-color);
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--main-font-color);
    background-color: var(--main-light-color);
}

.title-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-font-color);
}




.footer {
    background-color: #2E2F42;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondory-footer-color);
}